.header-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 50%;
  padding: 25px 0px 5px 0px;
}

.header-logo {
  height: 50px;
}

.company-name {
  font-size: 20px;
}

.header-divider {
  width: 100%;
  margin: 0 auto;
  height: 1.5px;
  background-color: black;
}

.assessment-overview {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", "Arial";
  color: black;

  .header {
    font-size: 36px;
    width: 100%;
    font-family: "Montserrat", "Arial";
    font-weight: 800;
    line-height: 1;
    color: black;
  }
}

.overview {
  margin: 20px 0px 20px 0px ;
  font-size: 14px;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }
}
