.results-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.results-banner {
  display: flex;
  align-items: center;
  height: auto;
  background-color: #112848;
  font-family: "Montserrat", "Arial";
  font-size: 2rem;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  width: 100%
}

.stage-header {
  font-size: 26px;
  color: black;
  font-weight: 700;
  font-family: "Montserrat", "Arial";
  margin-top: 10px;
  margin-bottom: 10px;
  

}

.stage-description {
  font-size: 14px;
  font-family: "Montserrat", "Arial"; 
  margin-bottom: 20px;
  text-align: left;

}

.results-divider {
  width: 100%;
  margin: 0 auto;
  height: 1.5px;
  background-color: black;
  margin-bottom: 5px;
  margin-top: 20px;
}

.results-disclaimer {

  font-size: 10px;
  font-family: "Montserrat", "Arial";
  margin: 0px 0px 25px 0px;
  text-align: left;
}