/* CSS file */

canvas {
  height: 400px; /* Adjust the height as needed */
}

.charts-container {
  max-width: 900px; /* Set maximum width to 2000px */
  display: flex; /* Use flexbox to align items */
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  justify-content: center; /* Center align the items horizontally */
  min-height: calc(100vh - 400px); /* Adjust minimum height */
  padding: 0px 40px 0px 40px;
margin: auto;
}



.results-container {
  width: 100%; /* Occupy full width */
  text-align: center; /* Center align the content */
  
}

.bar-chart-container {
  margin: 50px;
}

@media print {
  /* Adjust margins and other styles for printing */
  body {
    margin: 0;
  }
  .charts-container {
    /* Set appropriate width and height to fit content on one page */
    width: 100%;
    height: 100%;
  }
  /* Adjust other styles as needed */
}

.performance-container{
  width: 100%; 
  background-color: black;
  color: white;
  padding: "10px";
  text-align: center;
  font-weight: 600;
}
